$nav-bgd-color:rgb(20, 33, 61);
$tweeter-font: 'Bungee',sans-serif;

$header-bgd-color: rgb(252, 163, 17);
$header-bgd-image: url("https://www.transparenttextures.com/patterns/absurdity.png");

$body-font: 'Sans Source Pro', sans-serif;
$main-bgd-color: #f4f1ec;
$box-shadow-color: rgb(182, 181, 181);
$handle-color: lightgrey;