@import 'globals';

nav {
  height: 120px;
  width: 100%;
  background-color: $nav-bgd-color;
  color: #FFFFFF; 
  padding: 1.5em;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  font-family: $tweeter-font;
  font-size: 1.5rem;
  
  #compose-button {
    font-family: $body-font; 
    font-size: 1rem;
    display:flex;
    flex-direction: column;
    align-items: center;
  
    button {
      border: 0;
      padding: 20px;
      padding-bottom: 5px;
      outline: none;
      background-color: $nav-bgd-color;
      color: #FFFFFF; 
  
      &:hover {
        cursor: pointer;
      }
  
      &:hover + i {
        top: 10px;
      }
    }
  
    i {
      color: red;
      position: relative;
    }
  }
}