@import 'globals';

form {
  display: flex;
  flex-direction: column;

  textarea {
    background-color: transparent;
    border: none;
    resize: none;
    border-bottom: thick solid black;
  
    &:focus {
      outline: none;
    }
  }

  div {
    display: flex;
    justify-content: space-between;
  }
}

.new-tweet {
  display: none;

  div{
    font-family: $tweeter-font;
    margin: 10px 0px;
  }

  button {
    background-color: $nav-bgd-color;
    color: white;
    padding: 7px;
    border-radius: 5px;

    &:focus {
      outline: 3px solid rgb(94, 158, 214);
    }
  }
}

/* Class added/removed depending on character count */
.exceedingCharLimit {
  color: red;
}

/* Error message if empty text or text too long */
.error {
  color: red;
  font-family: $body-font; 
  font-size: 1rem;
  display: none;
}