nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF; 
  padding: 1.5em;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav span {
  font-family: 'Bungee',sans-serif;
}

nav p {
  font-family: 'Sans Source Pro', sans-serif; 
  font-size: 0.8em;
}

nav i {
  color: red;
  size: 1px;
}

