form {
  display: flex;
  flex-direction: column;
}

textarea {
  border-bottom-style: solid;
  border-bottom-width: thick;
  border-bottom-color: black;
}

button {
  background-color: #4056A1;
  font-family: 'Bungee', sans-serif;
  color: white;
}

form div {
  display: flex;
  justify-content: space-between;
}