form {
  display: flex;
  flex-direction: column;
}

textarea {
  background-color: transparent;
  border: none;
  resize: none;
  border-bottom: thick solid black;

}

textarea:focus {
  outline: none;
}

.new-tweet div{
  font-family: 'Bungee', sans-serif;
  margin: 10px 0px;
}
button {
  background-color: #4056A1;
  color: white;
}

form div {
  display: flex;
  justify-content: space-between;
}

/* Class added/removed depending on character count */
.exceedingCharLimit {
  color: red;
}

/* Error message if empty text or text too long */
#error {
  color: red;
  font-family: 'Sans Source Pro', sans-serif; 
  font-size: 0.75em;
  display: flex;
  flex-direction: column;
}